{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/index-style.css' %}">
{% endblock styles %}

{% block content %}
<h1>The Celestial Pitch</h1>
<p>All your needs for the everlasting football wars in our wares</p>

<h2>Made with love by:</h2>
<div class="entry">
  <h3>Name:</h3><p>{{ name }}</p>
</div>
<div class="entry">
  <h3>NPM:</h3><p>{{ npm }}</p>
</div>
<div class="entry">
  <h3>Class:</h3><p>{{ class }}</p>
</div>

<a href="{% url 'main:show_product_list' %}">
  <button>
    Start shopping
  </button>
</a>

<img src="{% static 'image/main/wavegoal.png' %}">
{% endblock content %}
